html,
body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  height: 100%;
  font-family: "Playfair Display", serif;
  color: #32373b;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: underline;
  color: #2f3337;
}

p {
  font-size: 1.1rem;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #32373b;
}

p a {
  text-decoration: underline;
}

.m-0 {
  margin: 0;
}

/*p a {
  color: #eca15b;
  font-weight: 600;
}*/

.container {
  max-width: 1024px;
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

header,
main,
footer {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

header div.container {
  margin-top: 20px;
  min-height: 80px;
  width: 100%;
  justify-content: space-between;
}

header .logo {
  font-size: 2rem;
  font-weight: 600;
}

header nav ul {
  display: flex;
  flex-flow: row;
  gap: 20px;
  font-weight: 400;
}

main {
  margin-top: 50px;
}

main div.container {
  margin-top: 50px;
  max-width: 768px;
}

main.posts li {
  margin-bottom: 50px;
}

main.posts li div {
  display: flex;
  flex-direction: column;
  align-items: start;
}

main.posts li > p {
  margin-top: 16px;
}

main.posts li div p {
  margin-top: 2px;
  font-size: 0.9rem;
}

main.about div.container {
  flex-flow: column;
  align-items: start;
}

footer {
  margin-top: auto;
  margin-bottom: 0;
}

footer div.container {
  display: flex;
  justify-content: center;
  min-height: 80px;
  gap: 10px;
}

footer i {
  font-size: 1.1rem;
}
