[data-theme="light"] {
  --h2-color: #2f3337;
  --text-color: #32373b;
  --bg-color: #fff;
  --fg-color: #f2f4f6;
  --sun-icon-display: none;
  --moon-icon-display: block;
  --form-border: solid #d5d5d5 1px;
  --button-background: #e7eaee;
}

[data-theme="dark"] {
  --h2-color: #eee;
  --text-color: #eee;
  --bg-color: #272727;
  --fg-color: #333333;
  --sun-icon-display: block;
  --moon-icon-display: none;
  --form-border: solid #474747 1px;
  --button-background: #1f1f1f;
}

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  min-height: 100%;
  height: 100%;
  font-family: "Playfair Display", serif;
  color: var(--text-color);
  background-color: var(--bg-color);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: underline;
  color: var(--h2-color);
}

p {
  font-size: 1.1rem;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

p a {
  text-decoration: underline;
}

.m-0 {
  margin: 0;
}

p a {
  color: var(--text-color);
  font-weight: 600;
}

.container {
  max-width: 768px;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

header,
main,
footer {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

header div.container {
  margin-top: 20px;
  min-height: 80px;
  width: 100%;
  justify-content: space-between;
}

header .logo {
  font-size: 2rem;
  font-weight: 600;
}

header nav ul {
  display: flex;
  flex-flow: row;
  gap: 20px;
  font-weight: 400;
}

header li.dark-theme-activator i.fa-sun {
  display: var(--sun-icon-display);
}

header li.dark-theme-activator i.fa-moon {
  display: var(--moon-icon-display);
}

main {
  margin-top: 50px;
}

main.posts li {
  margin-bottom: 50px;
}

main.posts li div {
  display: flex;
  flex-direction: column;
  align-items: start;
}

main.posts li > p {
  margin-top: 16px;
}

main.posts li div p,
main.post div.title p {
  margin-top: 2px;
  font-size: 0.9rem;
}

main.post p img {
  width: 450px;
}

main div.container {
  width: 100%;
  margin-top: 50px;
  flex-flow: column;
  align-items: start;
}

main.about div.container {
  gap: 15px;
}

main.about div.socials {
  display: flex;
  justify-content: center;
  gap: 12px;
  font-size: 18px;
}

main.add-new-post form {
  margin-top: 40px;
}

form div.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

form div.form-group:not(:first-child) {
  margin-top: 20px;
}

form input {
  min-height: 32px;
}

form input,
form input:focus,
form textarea,
form textarea:focus {
  border: var(--form-border);
  border-radius: 3px;
  background-color: var(--fg-color);
  outline: none;
  color: var(--text-color);
  padding: 5px 7.5px;
  font-size: 1rem;
  font-family: "Roboto", serif;
}

form textarea,
form textarea:focus {
  min-height: 320px;
  padding: 10px 7.5px;
}

form div.form-group:last-child {
  width: 100%;
  display: flex;
  align-items: end;
}

form button {
  cursor: pointer;
  border: var(--form-border);
  color: var(--text-color);
  border-radius: 3px;
  width: 110px;
  min-height: 28px;
  background-color: var(--button-background);
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: 0;
  padding-top: 150px;
}

footer div.socials {
  display: flex;
  justify-content: center;
  gap: 12px;
}

footer i {
  font-size: 1.1rem;
}

footer p {
  font-size: 0.75rem;
}
