[data-theme="light"] {
  --h2-color: #2f3337;
  --text-color: #32373b;
  --bg-color: #fff;
  --fg-color: #f2f4f6;
  --sun-icon-display: none;
  --moon-icon-display: block;
  --form-border: solid #d5d5d5 1px;
  --button-background: #e7eaee;
  --secondary-icon-color: #707070;
}

[data-theme="dark"] {
  --h2-color: #eee;
  --text-color: #eee;
  --bg-color: #272727;
  --fg-color: #333333;
  --sun-icon-display: block;
  --moon-icon-display: none;
  --form-border: solid #474747 1px;
  --button-background: #1f1f1f;
  --secondary-icon-color: #707070;
}

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 4px;
  min-height: 100%;
  height: 100%;
  font-family: "Playfair Display", serif;
  color: var(--text-color);
  background-color: var(--bg-color);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: underline;
  color: var(--h2-color);
}

h3 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 1.2rem;
  text-decoration: underline !important;
  color: var(--h2-color);
}

p {
  font-size: 0.85rem;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

p a {
  text-decoration: underline;
}

.m-0 {
  margin: 0;
}

p a {
  color: var(--text-color);
  font-weight: 600;
}

hr {
  margin-top: 20px;
  border: none;
  border-top: 1px solid var(--fg-color);
}

.container {
  max-width: 768px;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.container div.content {
  width: 100%;
}

code {
  width: 100%;
  white-space: break-spaces;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

header,
main,
footer {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

header div.container {
  margin-top: 20px;
  align-items: baseline;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 12px;
}

header .logo {
  font-size: 1.25rem;
  font-weight: 600;
}

header nav ul {
  display: flex;
  flex-flow: row;
  gap: 12px;
  font-weight: 400;
  font-size: 0.9rem;
}

header li.dark-theme-activator i.fa-sun {
  margin-top: 1px;
  display: var(--sun-icon-display);
}

header li.dark-theme-activator i.fa-moon {
  margin-top: 1px;
  display: var(--moon-icon-display);
}

main {
  margin-top: 20px;
}

main.posts li {
  margin-bottom: 50px;
}

main.posts div.post-header {
  display: flex;
  justify-content: space-between;
}

main.posts div.page-header {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}

div.post-header {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}

div.post-header div.post-title {
  display: flex;
  gap: 12px;
}

div.post-header div.post-title i {
  margin-top: 6px;
}

div.post-header div.title {
  display: flex;
  flex-direction: column;
  align-items: start;
}

main.posts div.post-header div.post-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  color: var(--secondary-icon-color);
  gap: 14px;
  font-size: 0.9rem;
  margin-top: 5px;
}

main.posts li > p {
  margin-top: 16px;
}

div.post-header div p {
  margin-top: 2px;
  font-size: 0.9rem;
}

div.post-header div.post-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  gap: 14px;
  font-size: 0.9rem;
}

main div.title div.date {
  display: flex;
  flex-flow: row;
  align-items: center;
  font-weight: 600;
  gap: 7px;
}

main div.title div.date p {
  margin-top: 5px;
  font-size: 0.9rem;
}

main div.title div.date i {
  margin-top: 10px;
  font-size: 0.7rem;
}

main.settings input {
  width: auto;
}

div.title.settings-socials {
  margin-top: 42px;
}

div.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

div.modal p {
  margin: 0;
}

div.modal div.modal-content {
  background-color: var(--bg-color);
  margin: 40% auto;
  padding: 20px;
  border-radius: 3px;
  width: 80%;
}

div.modal div.modal-header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: start;
  font-weight: 600;
}

div.modal div.modal-header i.fa-xmark {
  cursor: pointer;
  color: var(--secondary-icon-color);
}

div.modal div.modal-body {
  margin: 30px 0;
}

div.modal div.modal-body p {
  font-size: 0.9rem;
  font-weight: 400;
}

div.modal div.modal-footer {
  display: flex;
  justify-content: center;
  gap: 8px;
}

main.posts button.new-post,
div.modal div.modal-footer button {
  font-size: 0.85rem;
  cursor: pointer;
  border: var(--form-border);
  color: var(--text-color);
  border-radius: 3px;
  width: 100px;
  min-height: 28px;
  background-color: var(--button-background);
}

main.post p img {
  width: 100%;
}

main div.container {
  width: 100%;
  flex-flow: column;
  align-items: start;
}

main.about div.container {
  gap: 15px;
}

main.about div.socials {
  display: flex;
  justify-content: center;
  gap: 12px;
  font-size: 18px;
}

main.edit-post form,
main.new-post form,
main.settings form {
  margin-top: 20px;
}

main.login form {
  margin-top: 160px;
}

form div.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

form div.form-group:not(:first-child) {
  margin-top: 20px;
}

form label {
  margin-bottom: 8px;
}

form input {
  min-height: 20px;
}

form input,
form input:focus,
form textarea,
form textarea:focus {
  border: var(--form-border);
  border-radius: 3px;
  background-color: var(--fg-color);
  outline: none;
  color: var(--text-color);
  padding: 5px 7.5px;
  font-size: 1rem;
  font-family: "Roboto", serif;
}

form textarea,
form textarea:focus {
  min-height: 320px;
  padding: 10px 7.5px;
}

form textarea.content,
form textarea.content:focus {
  min-height: 320px;
}

form textarea.summary,
form textarea.summary:focus {
  resize: none;
  min-height: 80px;
}

form div.form-group:last-child {
  width: 100%;
  display: flex;
  align-items: end;
}

form.login div.form-group {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: start;
  gap: 16px;
}

form.login div.form-group div {
  width: 40%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: start;
  gap: 4px;
}

form.login div.form-group input {
  width: 100%;
  min-height: 25px;
}

span.note {
  font-size: 0.85rem;
}

span.error.general-error {
  margin-top: 7px;
  font-size: 0.9rem;
  color: #e3655b;
}

form div.form-group span.error {
  font-size: 0.85rem;
  color: #e3655b;
}

form.login div.form-group button {
  height: 30px;
  width: 38px;
}

form.login input,
form.login input:focus {
  padding: 2px 5px;
  font-size: 1rem;
  font-family: "Roboto", serif;
}

form button {
  cursor: pointer;
  border: var(--form-border);
  color: var(--text-color);
  border-radius: 3px;
  width: 100px;
  min-height: 28px;
  background-color: var(--button-background);
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: 0;
  padding-top: 150px;
}

footer div.socials {
  display: flex;
  justify-content: center;
  gap: 12px;
}

footer i {
  font-size: 1.1rem;
}

footer p {
  font-size: 0.75rem;
}

@media (min-width: 425px) {
  body {
    padding: 0px 25px;
  }

  header div.container {
    flex-flow: row;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  header .logo {
    font-size: 1.625rem;
    font-weight: 600;
  }

  header nav ul {
    gap: 20px;
  }

  header nav ul li.separator {
    margin: 0 -6px;
  }

  main {
    margin-top: 100px;
  }

  main.settings input {
    width: 50%;
  }

  h2 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.9rem;
  }

  div.title.settings-socials {
    margin-top: 82px;
  }

  div.modal div.modal-content {
    margin: 20% auto;
    width: 50%;
  }

  div.modal div.modal-footer {
    justify-content: end;
  }
}

@media (min-width: 768px) {
  body {
    padding: 4px;
  }

  header nav ul {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }

  div.page-header div.post-actions {
    gap: 16px;
    font-size: 1rem;
  }
}

@media (min-width: 1025px) {
  div.modal div.modal-content {
    margin: 20% auto;
    width: 30%;
  }
}
